---
layout: layouts/base.njk
title: Bracket
permalink: /bracket/
extraCss: /assets/css/bracket.css
extraScript: /assets/js/bracket.js
---

<script id="standings-data" type="application/json">{{ standings | dump | safe }}</script>
<div id="app"></div>
